.highlight {
    background-color: rgb(243, 243, 123);
 }

 .error {
    background-color: rgb(243, 148, 148);
    border-color: red;
 }
 h1{
   margin: 8px;
   text-align: center; 
   font-size: 55px;
 }
 .contenedor{
   width: 550px;
   height: 380px;
   position: absolute;
   inset: 0;
   margin: auto; 
   box-shadow: 2px 2px 4px 4px rgb(212, 230, 134);
   border-radius: 15px;
   background-color: #c5f7e4;
   letter-spacing: 1px;
}

.item{
   text-align: center; 
   letter-spacing: 0.75px;
   padding: 20px;
}
input{
   background-color: rgb(255, 250, 206);
   padding: 12px 15px;
   border: thin;
   width: 45%;
   border-radius: 10px;
   align-items: center;
}
button{
   padding: 6px 10px;
   font-size: 12px;
   text-transform: uppercase;
   font-weight: bold;
   border: none;
   border-radius: 10px;
   transition: transform 20ms ease-in;
   display: inline-block;
}
button:active {
   transform: scale(0.95);
}
body{   
   text-align: center;
}
#idioma h1{
   font-size: 50px;
}
#ierror{
   color: red;
}